openapi: 3.2.0
info:
  version: 1.0.1
  title: Bolt API Reference Statements API
  description: 'Postman Collection:


    ![](https://god.gw.postman.com/run-collection/9136127-55d2bde1-a248-473f-95b5-64cfd02fb445?action=collection%2Ffork&collection-url=entityId%3D9136127-55d2bde1-a248-473f-95b5-64cfd02fb445%26entityType%3Dcollection%26workspaceId%3D78beee89-4238-4c5f-bd1f-7e98978744b4#?env%5BBolt%20Sandbox%20Environment%5D=W3sia2V5IjoiYXBpX2Jhc2VfdXJsIiwidmFsdWUiOiJodHRwczovL2FwaS1zYW5kYm94LmJvbHQuY29tIiwidHlwZSI6ImRlZmF1bHQiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InRrX2Jhc2UiLCJ2YWx1ZSI6Imh0dHBzOi8vc2…'
servers:
- url: https://api.boltapp.com
  description: The Production URL (Live Data).
- url: https://api-sandbox.boltapp.com
  description: The Sandbox URL (Test Data).
- url: https://api-staging.boltapp.com
  description: The Staging URL (Staged Data).
security:
- X-API-Key: []
- OAuth:
  - bolt.account.manage
  - bolt.account.view
tags:
- name: Statements
  description: Statements are available in the Merchant Dashboard for merchants who use Bolt Payments as their processor. Merchants using other processors do not receive these statements.
paths:
  /v1/merchant/statement:
    post:
      description: Get a pre-signed URL for the requested statement file.
      operationId: getStatements
      requestBody:
        $ref: '#/components/requestBodies/statements_view'
      responses:
        '200':
          $ref: '#/components/responses/statements_view'
        '403':
          $ref: '#/components/responses/statements_view_error_403'
        '404':
          $ref: '#/components/responses/statements_view_error_404'
        '422':
          $ref: '#/components/responses/statements_view_error_422'
      security:
      - X-API-Key:
        - X-API-Key
      summary: Fetch a Statement
      tags:
      - Statements
components:
  schemas:
    statements_file_type:
      description: This is the type of the file. Currently, Bolt only supports CSV statements.
      enum:
      - csv
      example: csv
      type: string
    request_result:
      description: Custom-defined Bolt result object.
      properties:
        success:
          $ref: '#/components/schemas/request_failed'
      type: object
    errors_bolt_api_response:
      properties:
        errors:
          $ref: '#/components/schemas/errors_bolt_api'
        result:
          $ref: '#/components/schemas/request_result'
      type: object
    statements_type:
      description: "The time period and statement type: \n  * [Funding details statement](https://help.boltapp.com/operations/financials/export-funding-detail-statements/) with transactional events: Use `daily_transaction` or `monthly_transaction`\n  * [Bank transfer statement](https://help.boltapp.com/operations/financials/export-bank-transfer-statements/) with settlement and funding events: Use `daily_funding`\n  * [Dispute statement](https://help.boltapp.com/operations/disputes/dispute-statements/#how-to-read-dispute-statements): Use `monthly_dispute`\n"
      enum:
      - daily_transaction
      - monthly_transaction
      - daily_funding
      - monthly_dispute
      example: daily_transaction
      type: string
    error_bolt_api:
      properties:
        code:
          $ref: '#/components/schemas/code'
        message:
          $ref: '#/components/schemas/message'
      type: object
      description: Error object containing custom error information
    errors_bolt_api:
      items:
        $ref: '#/components/schemas/error_bolt_api'
      type: array
    code:
      description: Custom-defined Bolt error code. This can be used to programmatically react to specific errors.
      example: 2001005
      format: int64
      type: integer
    request_failed:
      example: false
      type: boolean
      description: Indicates that the request failed. This value is always false.
    message:
      description: Human-readable description of the error for developers. Should not be shown to users and is not localized.
      example: The input is missing a required parameter.
      type: string
    statements_date:
      description: This is the date of the statement, in milliseconds since the Unix epoch time.
      example: 1586480400000
      type: integer
    statements_url:
      description: 'This is the pre-signed URL of the requested statement. The URL has an expiration period of 5 minutes.

        Sharing the URL implies sharing the statement and its contents, please be careful.

        '
      example: https://bolt-statements-production.s3.us-west-2.amazonaws.com/00_daily_transaction_20200410.csv
      type: string
  responses:
    statements_view:
      content:
        application/json:
          schema:
            properties:
              url:
                $ref: '#/components/schemas/statements_url'
            required:
            - url
            type: object
      description: Statements Fetch Successful
    statements_view_error_403:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors_bolt_api_response'
      description: Generic Error Schema
    statements_view_error_422:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors_bolt_api_response'
      description: Generic Error Schema
    statements_view_error_404:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errors_bolt_api_response'
      description: Generic Error Schema
  requestBodies:
    statements_view:
      content:
        application/json:
          schema:
            properties:
              date:
                $ref: '#/components/schemas/statements_date'
              file_type:
                $ref: '#/components/schemas/statements_file_type'
              type:
                $ref: '#/components/schemas/statements_type'
            required:
            - type
            - file_type
            - date
            type: object
      description: View Statements
  securitySchemes:
    OAuth:
      description: 'Bolt utilizes the OAuth flow that developers can use to attain access to Bolt Account data via APIs.

        For all APIs that require authorization, please provide your `access_token` returned from `/v1/oauth/token` via the basic auth bearer header `Authorization: bearer ${TOKEN}`.

        [Read more about the OAuth token endpoint.](/api-bolt/#tag/OAuth)

        '
      flows:
        authorizationCode:
          authorizationUrl: https://api.boltapp.com/v1/oauth/authorize
          refreshUrl: https://api.boltapp.com/v1/oauth/token
          scopes:
            bolt.account.manage: This scope grants permissions to perform read/edit/delete actions on Bolt Account data
            bolt.account.view: This scope grants permissions to perform read only actions on Bolt Account data
            openid: This scope grants permissions that enable Bolt SSO by granting an id token JWT that stores account data. Not used in v1/account endpoints
          tokenUrl: https://api.boltapp.com/v1/oauth/token
      type: oauth2
    X-API-Key:
      description: Admins and Developers can obtain their Bolt API key from the Bolt Merchant Dashboard.
      in: header
      name: X-API-Key
      type: apiKey
